$medium: 500px;

$medSkills: 768px;

$colors:(
    main: #F2F2F2,
    drkBlue: #011140,
    liteBlu: #DFE7F2,
    SkeyeBlu: #B0C6D9,
    greyBlye: #7693A6
);



@mixin medScrn{
    @media (min-width: #{$medium}){
        .cart-slider{
            width: 30vw;
            min-width: 450px;
        }
    }
}


:root{
   --mainTransition: all .3s linear;
}


#wrapper{
    // min-height: 100%;
    // display: flex;
    // width: 100%;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    list-style: none;

    li{
        margin-bottom: 1rem;
    }

    .cart{
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
    }
    .cartHeader{
        font-size: 1.7rem;
        margin: 2rem;
    }

    .cartCount{
        color: red
    }

    .cartItemDeets{
        // display: flex;
        // justify-content: space-between;
    }

    .cartImageContainer{
        width: 100px;
        height: 100px;
        margin-top: 1rem;
    }

    .cartImage{
        width: 100%;
        height: 100%;
    }

    .cartShipInfo{
        display: flex;
        align-items: flex-end;    
        margin-bottom: 1rem;  
        justify-content: space-evenly;  
    }

    .cartItems{
        border-bottom: 3px solid black;
        margin-bottom: 2rem;
    }
    
    .cartItem{
        margin-bottom: 1rem;
    }

    .cartItemTitle{
        margin: 1rem 0;
        letter-spacing: 1px;
    }
    .cartItem p{
        padding: 0 .5rem;
    }

    .cartBtnContainer{
        display: flex;
        margin-left: 3rem;
        margin-right: 1rem;
    }

    .totals{
        display: flex;
        flex-direction: column;
    }

    .totals li{
        justify-content: flex-end;
    }

    .totals span{
        margin-right: .5rem;
    }
    
}

// SLIDE CART

.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(80, 79, 79, 0.7);
    transition: var(--mainTransition);
}

.cart-slider{
    position: fixed;
    top: 0;
    right: 0;
    // width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    padding: 1.5rem;
    background-color: map-get($colors, main);
    transition: var(--mainTransition);
    // transform: translateX(100%);
    transform: translateX(0);
    @include medScrn()
}

// .showCart{
// }

.transparentBcg{
    visibility: visible;
}

.close-cart{
    font-size: 1rem;
    cursor: pointer;
}

.cart h2{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.cart-item{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img{
    width: 75px;
    height: 75px;
}

.cart-item h4{
    font-size: .85rem;
    text-transform: capitalize;
    letter-spacing: 1rem;
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  