
:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
  }

$colors:(
    main: #F2F2F2,
    drkBlue: #011140,
    liteBlu: #DFE7F2,
    SkeyeBlu: #B0C6D9,
    greyBlye: #7693A6
);


body, html{
    height: 100%;
}

#main{   
    .hero{
        min-height: calc(95vh - 3rem); // navbar height
        background: url('../media/bcg2.jpg') center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner{
        text-align: center;
        background: rgba(255,255,255, 0.4);
        display: inline-block;
        padding: 3rem;
    }

    .banner-title{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 3rem;
        color: white;
    }

    .btn-banner{
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Contrail One', 'Acme', cursive;
        font-size: 1rem;
        background-color: map-get($colors,liteBlu);
        transition: all 0.3s linear;
        cursor: pointer;
    }

    .btn-banner:hover{
        background: transparent;
        color: map-get($colors, drkBlue );
    }

    .featHeading{
        text-align: center;
        color: whitesmoke;
        display: flex;
        height: 2em;
        align-items: center;
        justify-content: center;
        font-size: 3.7em;
        letter-spacing: 2px;
        margin-bottom: 1.5em;
        background-color: map-get($colors, drkBlue );
    }

    .featContainer{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
    .featList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .prod{
        padding-bottom: 3em;
        flex-basis: 300px;
    }
}


.homeBg{
    width: 100%;
    height: 85vh;
    margin-bottom: 5rem;
}

.heroGrid{
    width: 100%;
}
 