
:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
  }

$colors:(
<<<<<<< HEAD
    main: #F2F2F2,
    drkBlue: #011140,
    liteBlu: #DFE7F2,
    SkeyeBlu: #B0C6D9,
    greyBlye: #7693A6
);

=======
    red: #444444,
    skiBlue: #7A9FBF,
    attn: #820333,

);
>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20

body, html{
    height: 100%;
}

#main{   
    .hero{
        min-height: calc(95vh - 3rem); // navbar height
        background: url('../media/bcg2.jpg') center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner{
        text-align: center;
<<<<<<< HEAD
        background: rgba(255,255,255, 0.4);
        display: inline-block;
        padding: 3rem;
=======
        background: rgba(255,255,255, 0.8);
        display: inline-block;
        padding: 2rem;
>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
    }

    .banner-title{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 3rem;
        color: white;
    }

    .btn-banner{
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
<<<<<<< HEAD
        font-family: 'Contrail One', 'Acme', cursive;
        font-size: 1rem;
        background-color: map-get($colors,liteBlu);
=======
        font-size: 1rem;
        background-color: red;
        border: 1px solid lightcoral;
>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
        transition: all 0.3s linear;
        cursor: pointer;
    }

    .btn-banner:hover{
        background: transparent;
<<<<<<< HEAD
        color: map-get($colors, drkBlue );
    }

=======
        color: var(--primaryColor);
    }


>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
    .featHeading{
        text-align: center;
        color: whitesmoke;
        display: flex;
        height: 2em;
        align-items: center;
        justify-content: center;
        font-size: 3.7em;
        letter-spacing: 2px;
        margin-bottom: 1.5em;
<<<<<<< HEAD
        background-color: map-get($colors, drkBlue );
=======
        background-color: map-get($colors, attn );
>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
    }

    .featContainer{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
    .featList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .prod{
        padding-bottom: 3em;
        flex-basis: 300px;
    }
}


.homeBg{
    width: 100%;
    height: 85vh;
    margin-bottom: 5rem;
}

.heroGrid{
    width: 100%;
}
 