@import './mixins.scss';

$colors:(
    main: #F2F2F2,
    drkBlue: #011140,
    liteBlu: #DFE7F2,
    SkeyeBlu: #B0C6D9,
    greyBlye: #7693A6
);

$mainTransition: all 0.3s linear;

ul > li{
  @include breakpoints(mobile-first){
    margin-top: .4rem;
    font-size: 1.4rem;
  }
}

#nav-container{
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
}

.navbar-center{
  width: 100%;
  // max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .75rem .5rem;
  // padding: 16px calc((39px + 100%) - 100vw) 16px 24px;
  background-color: #B0C6D9;
  color: map-get($colors, drkBlue );
}

.mobile-menu-container{
  position: fixed;
  inset: 0px;
  background: rgb(255, 255, 255);
  z-index: 99;
  display: flex;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: start;
  padding: 4rem 3rem;
  overflow: auto;

  @include breakpoints(tablet-landscape-up){
    display: none;
  }
}

.nav-btn {
  background: transparent; 
  border: none;
  cursor: pointer;
  outline: none;
  padding: .5rem;

  @include breakpoints(tablet-portrait-up){
    display: none;
  }
}

.nav-links {
  height: 0;
  overflow: hidden;
  // transition: $mainTransition;
  list-style-type: none;

  @include breakpoints(tablet-portrait-up){
    height: auto;
    display: flex;
  }
}

.nav-links a {
  text-decoration: none;
  padding: .25rem 0;
  color: white;
  // transition: $mainTransition;
  font-size: 1rem;
  font-weight: 600;

  @include breakpoints(tablet-portrait-up){
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }

  @include breakpoints(mobile-first){
    flex-direction: column;
  }
}

.nav-links a:hover {
  color: white;
}


.nav-icon,
.cart-logo{
  font-size: 1.5rem;
  color:map-get($colors, drkBlue );
}

.cart-logo{
  margin-top: .75rem;
}

.cart-btn{
  position: relative;
  cursor: pointer;
  color: black;
}

.cart-items{
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  border-radius: 30%;
  color: firebrick;
}