
#productsWrapper{
    .products-title{
        text-align: center;
<<<<<<< HEAD
        margin: 2em 0;
        font-size: 3rem;
=======
        margin: 3em 0;
>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
    }
    
    .prodContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
    }

    .btn{
        margin: 1em 0 2em 0;
    }
<<<<<<< HEAD
}


=======

}




>>>>>>> 2da33980a7a1b3dd2f7bcaa01d78f362ec650d20
.filterContainer{
    background-color: #BF2A45;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    height: 5em;
}

