#productsWrapper{
    .products-title{
        text-align: center;
        margin: 2em 0;
        font-size: 3rem;
    }
    
    .prodContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-right: auto;
        margin-left: auto;
    }

    .btn{
        margin: 1em 0 2em 0;
    }
}


.filterContainer{
    background-color: #011140;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    padding: 2em 2em;
}


.filter p::first-letter{
    color: red;
}

.selections,
.selects{
    margin-left: 1em;
    margin-top: 1.3em;
    background-color: #B0C6D9;
}